body {
  font-family: 'Open Sans', sans-serif;
  color: rgba(255, 255, 255, 0.8);
}
a {
  color: rgba(255, 255, 255, 0.8);
}
a:hover {
  color: rgba(255, 255, 255, 0.4);
  opacity: 0.6;
}
.container {
  max-width: 960px;
  margin: 0 auto;
}
.portrait {
  text-align: center;
}
.portrait img {
  width: 30%;
  height: 30%;
  border-radius: 10%;
  margin-top: 5%;
}
.third {
  width: 32%;
}
.about-me-box {
  display: inline-block;
}
.about-me-box p, .about-me-box h3 {
  color: rgba(255, 255, 255, 0.8);
  text-align: center;
}
.about-me-box img {
  width: 90%;
  border-radius: 25%;
}
.summary {
  margin-top: 30px;
  text-align: center;
}
.summary2 {
  margin-top: 15px;
  text-align: center;
}
.experience-education {
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
}
.experience-education img {
  width: 200px;
}
.experience-details li {
  text-align: left;
  font-size: 18px;
}
.skills-section {
  margin-bottom: 10px;
}
.skills-section a:hover {
  text-decoration: none;
  opacity: 0.6;
}
.spark {
  padding-top: 25px;
  padding-bottom: 25px;
}
.skills-section h3 {
  text-align: center;
  margin-bottom: 25px;
}
.devicon {
  padding: 10px;
  border-radius: 15%;
  width: 100%;
  background-color: #FFFFFF;
}
.projecticon {
  padding: 5px;
  /*border-radius: 10%;*/
  width: 100%;
  background-color: #000000;
}
.contact2 img {
  width: 75px;
  margin-right: 15px;
}
section.module:last-child {
  margin-bottom: 0;
}
section.module h1 {
  margin-bottom: 25px;
  font-family: 'Open Sans', sans-serif;
  font-size: 28px;
}
section.module h2 {
  margin-bottom: 40px;
  font-family: 'Open Sans', sans-serif;
  font-size: 22px;
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.contact2 h2 {
  text-align: left !important;
}
.contact2 h2:hover {
  opacity: 0.6;
}
.contact2 a:hover {
  text-decoration: none;
}
.contact2:visited, .contact2:focus, .contact2:active {
  text-decoration: none;
}
.heading {
  padding-top: 8%;
}
.back-to-top-arrow {
  text-align: center;
}
.up-arrow {
  border-radius: 50%;
}
section.module p {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.8);
}
section.module p:last-child {
  margin-bottom: 0;
}
section.module.content {
  background-color: #121212;
  padding: 30px 0;
}
section.module.parallax {
  height: 500px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
section.module.parallax h1 {
  color: rgba(255, 255, 255, 0.8);
  font-size: 48px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
section.module.intro {
  background-image: url("../img/landscape.jpg");
  height: 600px;
}
section.module.experience {
  background-image: url("../img/code.jpg");
  height: 400px;
}
section.module.projects {
  background-image: url("../img/projects.jpg");
  height: 400px;
}
section.module.education {
  background-image: url("../img/portland.jpg");
  height: 400px;
}
section.module.skills {
  background-image: url("../img/skills.jpg");
  height: 400px;
}
section.module.contact {
  background-image: url("../img/contact.jpg");
  height: 400px;
}

@media all and (min-width: 600px) {
  section.module h2 {
    font-size: 42px;
  }
  section.module p {
    font-size: 20px;
  }
  section.module.parallax h1 {
    font-size: 96px;
  }
}
@media all and (min-width: 960px) {
  section.module.parallax h1 {
    font-size: 112px;
  }
}
